#container ul {
    list-style: none;
}

#container ul li {
    background-color: #3c3e94;
    width: 150px;
    border: 1px solid white;
    height: 50px;
    line-height: 50px;
    text-align: center;
    float: left;
    color: white;
    font-size: 18px;
    position: relative;
}

* {
    margin: 0px;
    padding: 0px;
}

#container ul li:hover {
    background-color: #388222;
}

#container ul ul {
    display: none;
}

#container ul li:hover>ul {
    display: block;
}

#container ul ul ul {
    margin-left: 150px;
    top: 0px;
    position: absolute;
}

#menu {
    float: right;
    display: flex;
    position: absolute;
}

.a {
    list-style: none;
}

head div nav ul {
    display: flex;
    position: relative;
    padding: 0 12px 0 12px;
    margin: 1px;
    float: center;
    text-transform: uppercase;
}

#rightup {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

a {
    text-decoration: none;
}

head div ul li a {
    display: flex;
    text-transform: uppercase;
}